html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

body {
  background: #29bde0;
}

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 2rem;
  padding: 0 2rem;
}

header span {
  font-size: 2rem;
  color: #fff;
}

.music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-image: url(5.png);
  height: 5rem;
}

.music img {
  height: 3rem;
  padding-right: 0.5rem;
}

.music p {
  font-size: 1.5rem;
}

.pad, .cff {
  padding-left: 5rem;
}

.cff {
  margin-top: 0;
  font-size: 1.5rem;
  color: #fff;
}

.sm {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.xl {
  text-align: center;
  width: 25%;
}

.xl p {
  margin: 0;
}

.xl img {
  height: 5vw;
  opacity: 0;
  margin-bottom: 1vw;
}

.hig {
  height: 17vw;
  background-color: #f5c97b;
  line-height: 17vw;
}

.short {
  height: 7vw;
  background-color: #83b09a;
  line-height: 7vw;
  color: #fff;
}

.borff {
    border: 3px #fff solid;
    margin-bottom: 1vw;
}

.xl:hover.xl img {
  opacity: 1;
}

footer {
  line-height: 6rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 6rem;
  width: 100%;
  background: #29bde0;
}

.corg {
  height: 3rem;
  width: 60%;
  background: #fbb435;
  border: none;
  color: #fff;
}

.bottom {
  margin-bottom: 6rem;
}

audio {
  width: 5.5rem;
  position: absolute;
  right: 0rem;
  top: 5rem;
  opacity: 0;
}
