html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

body {
  background: #29bde0;
}

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px #cecbcb solid;
}

header img {
  height: 2.5rem;
}

header span {
  color: #fff;
  font-size: 2rem;
}

main {
  text-align: left;
}

.ship {
  text-align: center;
}

.ship img {
  height: 10rem;
  margin: 1rem 0;
}

.ship p {
  color: #fff;
  font-size: 2rem;
  margin-top: -4.2rem;
}

.tires {
  color: #fbb435;
  font-size: 1.5rem;
  padding: 0 3rem;
}

.allcolor {
  color: #fff;
  font-size: 1.3rem;
  padding: 0 3rem;
}

.nur {
  margin-bottom: 0.5rem;
}

.cell, .doctor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cell P, .doctor P {
  margin: 0;
}

.doctor {
  margin-bottom: 1rem;
}

.oneday {
  background-color: #fff;
  padding: 0 3rem;
  border-bottom: 1px #cecbcb solid;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.time p {
  margin: 0 0 1rem 0 !important;
}

.day {
  font-size: 1.5rem !important;
  color: #383737 !important;
}

.our {
  color: #cecbcb;
}

.oneday p {
  color: #9b9999;
  font-size: 1.3rem;
  margin: 0;
}

.mor {
  padding-bottom: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  width: 100%;
  background: rgba(83, 199, 245, 0.7);
}

button {
  border: none;
  height: 3rem;
  width: 10rem;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 5px;
}

.again {
  background-color: #f7355f;
  margin-right: 1rem;
}

.help {
  background: #eed027;
}

.all {
  margin-bottom: 5rem;
}
