html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

header {
    background: #29bde0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 2rem;
    padding: 0.5rem;
}

header div {
    font-size: 1.5rem;
    color: #fff;
}

a {
    text-decoration: none;
}

main {
    background: #f1eeee;
    padding: 8px;
}

.game {
    display: flex;
    background: #fff;
    position: relative;
}

.guy {
    height: 20rem;
    width: 10%;
    font-size: 2rem;
    padding: 0 5%;
    display: flex;
    align-items: center;
    text-align: center;
    border-right: 1px #f1eeee solid;
}

.police {
    width: 80%;
}

.min {
    height: 17rem;
    overflow-y: auto;
    color: gray;
    display: flex;
    flex-wrap: wrap;
}

.set {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 80%;
    justify-content: center;
    font-size: 1.5rem;
    color: #29bde0;
    border-top: 1px #f1eeee solid;
    height: 3rem;
}

.juewang {
    width: 31%;
    text-align: center;
    line-height: 8rem;
}

.set img {
    padding-left: 1rem;
    height: 1rem;
}

.set p {
    margin: 0;
}

.word {
    background: #fff;
    margin: 8px 0 0 0;
    width: 100%;
    height: 8rem;
}

.set button {
    border: none;
    background: #fff;
    color: #29bde0;
    outline: none;
}

.word input {
    border: none;
    padding: 1rem 0;
    margin: 0 8px;
    width: 92%;
    border-bottom: 1px #f1eeee solid;
    outline: none;
}

.killnum {
    width: 50%;
    text-align: center;
    position: relative;
    height: 5rem;
}

.tianpin {
    position: absolute;
    top: 3.8rem;
    left: 2rem;
    background: #29bde0;
    height: 8px;
    width: 8px;
}

.tianping {
    position: absolute;
    top: 3.8rem;
    left: 2rem;
    background: orange;
    height: 8px;
    width: 8px;
}

.js-2-1section3 {
    background: #fff;
    margin-top: 8px;
}

.js-2-1section3-div1 {
    margin-left: 2rem;
}

.police p {
    display: flex !important;
    flex-direction: column !important;
}

.player-num {
    font-size: 1.8rem;
    margin: 0 0.6rem;
    background: #f4f5f5;
    padding: 0.2rem 0.6rem;
    color: gold;
    width: 9%;
    border: none;
    outline: none;
}

.js-2-1section3-div1-span1 {
    display: inline-block;
    font-size: 1.5rem;
    color: #444;
    padding-top: 1rem;
}

.js-2-1section3-div2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.6rem 0;
}

#slider {
    /*设置滑块下面那条线的样式*/
    outline: none;
    /*去掉点击时出现的外边框*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*这三个是去掉那条线原有的默认样式，划重点！！*/
    width: 55%;
    height: 0.3rem;
    background: orange;
    /*这三个是设置滑块下面那条线的样式*/
}

input[type="range"]::-webkit-slider-thumb {
    /*::-webkit-slider-thumb是代表给滑块的样式进行变更*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*//这三个是去掉滑块原有的默认样式，划重点！！*/
    width: 2.6rem;
    height: 1.6rem;
    background: url("矩形\ 24\ 拷贝\ 2.png");
    background-size: cover;
    /*//这几个是设置滑块的样式*/
}

.btn-sub {
    /*这里是左边减按钮的css样式*/
    outline: none;
    border: none;
    cursor: pointer;
    background: url("16.png");
    background-size: 100%;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
}

.btn-add {
    /*这里是右边+按钮的css样式*/
    outline: none;
    border: none;
    cursor: pointer;
    background: url("矩形\ 15\ 拷贝\ 2.png") no-repeat;
    background-size: 100%;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
}

footer {
    text-align: center;
}

footer button {
    width: 100%;
    border: none;
    background-color: orange;
    font-size: 1.5rem;
    margin-top: 8px;
    color: #fff;
    padding: 1rem 1.5rem;
}