html {
    font-size: 62.5%;
    background: #29bde0;
}

body {
    margin: 0;
}

header {
    background: #29bde0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #fafafa solid;
}

header img {
    height: 2rem;
    padding: 0.5rem;
}

header div {
    font-size: 1.5rem;
    color: #fff;
}

.natin {
    margin-top:2rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom:7rem;
}

.round {
    width: 27%;
    margin:3% 2%;
    border: 3px #fff solid;
    position: relative;
}

.killnum {
    height: 17vw;
    background-color: #f5c97b;
    line-height: 17vw;
}

p {
    margin: 0;
}

.gry {
    height: 7vw;
    background-color: #83b09a;
    line-height: 7vw;
    color: #fff;
}

footer {
    line-height: 6rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 6rem;
    width: 100%;
    background: #29bde0;
}

.corg {
    height: 3rem;
    width: 60%;
    background: #fbb435;
    border: none;
    color: #fff;
}
.round img{
    position: absolute;
    top: 105%;
    left: 42%;
    height: 5vw;
    display:none;
}
.backl{
    height: 17vw;
    background-color: #83b09a;
    line-height: 17vw;
}.backll{
    height: 17vw;
    background-color: #83b09a;
    line-height: 17vw;
}
main{
    margin-bottom: 6rem;
}
.ship{
    height: 4rem;
    padding-left: 4rem;
    line-height: 4rem;
    background-color:rgba(252, 252, 252, 0.5);
    margin-top: 1rem;
    position: relative;
}
.butt{
    width:0;
    height:0;
    border-width:15px 10px 0;
    border-style:solid;
    border-color:rgba(252, 252, 252, 0.5) transparent transparent;/*灰 透明 透明 */
    margin:40px auto;
    position:absolute;
    top: 0.7rem;
}
.head{
    color: #fff;
    padding:1rem  0 0 4rem;
}
