html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #f0e9e9;
}

header {
  background: #68cdd5;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.color {
  font-size: 2rem;
  color: #fff;
  padding-left: 1rem;
}

.color1 {
  font-size: 2rem;
  color: #fff;
  padding: 0;
}

.color2 {
  font-size: 2rem;
  color: #fff;
  padding-right: 1rem;
}

.pho {
  height: 3rem;
  padding: 1rem 2rem;
  border-right: 1px #f0e9e9 solid;
}

form {
  background: #fff;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  height: 4rem;
}

header a {
  text-decoration: none;
}

input {
  height: 3.7rem;
  border: none;
  width: 80%;
  outline: none;
  padding-left: 1rem;
}

footer {
  background: #68cdd5;
  align-items: center;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #fff;
}

.text {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

a {
  font-size: 1.5rem;
  color: #68cdd5;
}

footer a {
  text-decoration: none;
}
