html {
    font-size: 62.5%
}

body {
    margin: 0;
}

$b5f:#5fc0cd;
$bff:#fff;
$sr:1.5rem;
$cre:rgb(196, 48, 48);
$bss:1px silver solid;
@mixin takec {
    display: flex;
    justify-content: space-between;
}

@mixin takel {
    display: flex;
    justify-content: flex-start;
}

@mixin takea {
    display: flex;
    align-items: center;
}

header {
    @include takec;
    @include takea;
    align-items: $c;
    height: 4rem;
    background: $b5f;
}

.hjs {
    margin-left: $sr;
    height: $sr;
}

.cff {
    font-size: $sr;
    color: $bff;
}

.img {
    @include takel;
    @include takea;
    background-image: url(5.png);
    background-size: 100% 100%;
}

.plan2 {
    height: 7rem;
    padding: 2rem;
}

@mixin choose {
    padding-left: $sr;
}

.img span {
    @include choose;
    font-size: $sr;
    color: $bff;
}

@mixin make {
    font-size: $sr;
}

.b5f {
    margin: 0;
    margin: $sr;
    border-left: 4px $b5f solid;
    @include make;
}

.mpb {
    margin: 0;
    padding: 0.5rem;
    border-top: $bss;
}

.mpb img {
    height: $sr;
    @include choose;
}

.mpb span {
    @include make;
}

li {
    padding: 0.5rem;
    border-top: $bss;
    @include make;
    list-style: none;
}

ul {
    margin: 0;
}

@mixin center {
    margin: $sr;
    @include choose;
    border-left: $bss;
}

.bor {
    @include center;
}

.cred {
    @extend .bor;
    color: $cre;
}

.abso {
    @include choose;
    border-left: $bss;
    margin-left: 1.8rem;
    position: absolute;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    @include takec;
}

button {
    height: 3rem;
    margin: 0 3rem;
    width: 7em;
    border-radius: 5px;
    border: 1px #5fc0cd solid;
}

.left {
    background: $bff;
    color: $b5f;
}

.right {
    background: $b5f;
    color: $bff;
}