html{
    font-size:62.5%;
}
body{
    margin: 0;
}
$b5f:#5fc0cd;
$bgb:silver;
$sr:1.5rem;
$cre:red;
$bss:1px silver solid;
@mixin takec {
    display: flex;
    justify-content: space-between;
}

@mixin takel {
    display: flex;
    justify-content: flex-start;
}

@mixin takea {
    display: flex;
    align-items: center;
}
$h:2rem;

header{
    @include takec;
    @include takea;
    height: 6rem;
    background: $b5f;
}
header img{
 height: $h;
 padding:0 $h;
}
.op1{
opacity: 0;}
header button{
    margin: 0 -5px;
}
.left{
    background: rgb(40, 168, 177);
    color: #fff;
    border-radius: 5px !important;
}
.right{
    background: #fff;
    color: rgb(40, 168, 177);
    border-radius: 5px !important;
}
.flex{
    @include takec;
    @include takea;
    border-bottom: $bss;  
    height: 4rem;
   
}
.flex button{
    width: 100%;
    border: none;
    padding: 0.5rem 2rem;

}
.dropdown-menu{
   min-width: 100%  !important;
    text-align: center;
}
.dropdown-toggle {
   
    color: rgb(155, 147, 147);
    
}
.box img{
    height: $h;
    padding-right: 0.5rem;
}
.box{
    padding: 0.5rem 2rem;  
    border-bottom: $bss; 
}
.cgb{
    font-size: $sr;
    color: $bgb;
}
.between{
    @include takec;
}
.cred{
color: $cre;
font-size: $sr;
}
.cred img{
    height: $sr;
}
.width{
    width: 33%;
    border-right: $bss; 
}
footer{
    @extend .between ;
    padding: 0 20%;
    @include takea;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 6rem;
}

footer img{
    height: 2rem;
}
.h6r{
    height: 6rem;
}
.open{
    background-color:#fff  !important;
}
footer p{
    color: $bgb;
}
.bottom{
 @extend .box ; 
 margin-bottom: 6rem;
}