body {
    background-color: #68cdd5;
    font-size: 62.5%;
    margin: 0;
}

img {
    margin: 1rem;
    width: 2.5rem;
}
main {
    text-align: center;
}
.gaitu{
    width: 6rem;
}
.wenzi {
    font-size: 1rem;
    margin: 0 2rem;
    color: #fff;
}

.left {
    float: left;
    margin: 5rem 10% 1%;
}
.wenzi2{
    font-size:1rem;
    margin:0;
    color: #fff
}
.right {
    float: right;
    margin: 5rem 10% 1%;
}

